body {
    background-color: #ff0000;
    width: 100%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    align: center;
}

p {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.btn-enviar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #008000;   
}

.estilo-rodape{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
}